*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.testo-logo{
    font-size:40px;
    vertical-align: middle;
    
    
}
#logo{
    padding:4px;
    margin-top:13px;
    vertical-align:middle;
}
header{
    border:2px solid white;
}
.container{
    background-color: white;

}
body{
    background-color: lightgrey;
}